In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('fraudTrain.csv')
test = pd.read_csv('fraudTest.csv')

In [3]:
train.head(10)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
5,5,2019-01-01 00:04:08,4767265376804500,"fraud_Stroman, Hudson and Erdman",gas_transport,94.63,Jennifer,Conner,F,4655 David Island,...,40.3750,-75.2045,2158,Transport planner,1961-06-19,189a841a0a8ba03058526bcfe566aab5,1325376248,40.653382,-76.152667,0
6,6,2019-01-01 00:04:42,30074693890476,fraud_Rowe-Vandervort,grocery_net,44.54,Kelsey,Richards,F,889 Sarah Station Suite 624,...,37.9931,-100.9893,2691,Arboriculturist,1993-08-16,83ec1cc84142af6e2acf10c44949e720,1325376282,37.162705,-100.153370,0
7,7,2019-01-01 00:05:08,6011360759745864,fraud_Corwin-Collins,gas_transport,71.65,Steven,Williams,M,231 Flores Pass Suite 720,...,38.8432,-78.6003,6018,"Designer, multimedia",1947-08-21,6d294ed2cc447d2c71c7171a3d54967c,1325376308,38.948089,-78.540296,0
8,8,2019-01-01 00:05:18,4922710831011201,fraud_Herzog Ltd,misc_pos,4.27,Heather,Chase,F,6888 Hicks Stream Suite 954,...,40.3359,-79.6607,1472,Public affairs consultant,1941-03-07,fc28024ce480f8ef21a32d64c93a29f5,1325376318,40.351813,-79.958146,0
9,9,2019-01-01 00:06:01,2720830304681674,"fraud_Schoen, Kuphal and Nitzsche",grocery_pos,198.39,Melissa,Aguilar,F,21326 Taylor Squares Suite 708,...,36.5220,-87.3490,151785,Pathologist,1974-03-28,3b9014ea8fb80bd65de0b1463b00b00e,1325376361,37.179198,-87.485381,0

In [4]:
train.shape,test.shape

((1296675, 23), (555719, 23))

In [5]:
df = pd.concat([train,test],axis=0)

In [6]:
df.shape

(1852394, 23)

In [7]:
df.corr()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
Unnamed: 0,1.000000,0.000063,0.000949,0.000370,0.000239,-0.000610,-0.000880,0.174527,0.000211,-0.000611,0.000524
cc_num,0.000063,1.000000,0.001826,0.041504,-0.058744,-0.048429,-0.009118,0.000284,-0.058415,-0.048421,-0.001125
amt,0.000949,0.001826,1.000000,0.001979,-0.000670,-0.000735,0.004921,-0.002411,-0.000613,-0.000711,0.209308
zip,0.000370,0.041504,0.001979,1.000000,-0.114554,-0.909795,0.077601,0.001017,-0.113934,-0.908981,-0.002190
lat,0.000239,-0.058744,-0.000670,-0.114554,1.000000,-0.014744,-0.154816,0.000741,0.993582,-0.014709,0.002904
long,-0.000610,-0.048429,-0.000735,-0.909795,-0.014744,1.000000,-0.052359,-0.000574,-0.014585,0.999118,0.001022
city_pop,-0.000880,-0.009118,0.004921,0.077601,-0.154816,-0.052359,1.000000,-0.001636,-0.153863,-0.052329,0.000325
unix_time,0.174527,0.000284,-0.002411,0.001017,0.000741,-0.000574,-0.001636,1.000000,0.000696,-0.000571,-0.013329
merch_lat,0.000211,-0.058415,-0.000613,-0.113934,0.993582,-0.014585,-0.153863,0.000696,1.000000,-0.014554,0.002778
merch_long,-0.000611,-0.048421,-0.000711,-0.908981,-0.014709,0.999118,-0.052329,-0.000571,-0.014554,1.000000,0.000999
is_fraud,0.000524,-0.001125,0.209308,-0.002190,0.002904,0.001022,0.000325,-0.013329,0.002778,0.000999,1.000000

In [8]:
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06,1.852394e+06
mean,5.371934e+05,4.173860e+17,7.006357e+01,4.881326e+04,3.853931e+01,-9.022783e+01,8.864367e+04,1.358674e+09,3.853898e+01,-9.022794e+01,5.210015e-03
std,3.669110e+05,1.309115e+18,1.592540e+02,2.688185e+04,5.071470e+00,1.374789e+01,3.014876e+05,1.819508e+07,5.105604e+00,1.375969e+01,7.199217e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902742e+01,-1.666716e+02,0.000000e+00
25%,2.315490e+05,1.800429e+14,9.640000e+00,2.623700e+04,3.466890e+01,-9.679800e+01,7.410000e+02,1.343017e+09,3.474012e+01,-9.689944e+01,0.000000e+00
50%,4.630980e+05,3.521417e+15,4.745000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.443000e+03,1.357089e+09,3.936890e+01,-8.744069e+01,0.000000e+00
75%,8.335758e+05,4.642255e+15,8.310000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.374581e+09,4.195626e+01,-8.024511e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.992100e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.388534e+09,6.751027e+01,-6.695090e+01,1.000000e+00

In [9]:
df.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1852394 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0             int64
 1   trans_date_trans_time  object
 2   cc_num                 int64
 3   merchant               object
 4   category               object
 5   amt                    float64
 6   first                  object
 7   last                   object
 8   gender                 object
 9   street                 object
 10  city                   object
 11  state                  object
 12  zip                    int64
 13  lat                    float64
 14  long                   float64
 15  city_pop               int64
 16  job                    object
 17  dob                    object
 18  trans_num              object
 19  unix_time              int64
 20  merch_lat              float64
 21  merch_long             float64
 22  is_fraud               int64
dtypes: float64(5), int64(6), object(12)
memory usage: 339.2+ MB

In [11]:
df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [12]:
df.head(10)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
5,5,2019-01-01 00:04:08,4767265376804500,"fraud_Stroman, Hudson and Erdman",gas_transport,94.63,Jennifer,Conner,F,4655 David Island,...,40.3750,-75.2045,2158,Transport planner,1961-06-19,189a841a0a8ba03058526bcfe566aab5,1325376248,40.653382,-76.152667,0
6,6,2019-01-01 00:04:42,30074693890476,fraud_Rowe-Vandervort,grocery_net,44.54,Kelsey,Richards,F,889 Sarah Station Suite 624,...,37.9931,-100.9893,2691,Arboriculturist,1993-08-16,83ec1cc84142af6e2acf10c44949e720,1325376282,37.162705,-100.153370,0
7,7,2019-01-01 00:05:08,6011360759745864,fraud_Corwin-Collins,gas_transport,71.65,Steven,Williams,M,231 Flores Pass Suite 720,...,38.8432,-78.6003,6018,"Designer, multimedia",1947-08-21,6d294ed2cc447d2c71c7171a3d54967c,1325376308,38.948089,-78.540296,0
8,8,2019-01-01 00:05:18,4922710831011201,fraud_Herzog Ltd,misc_pos,4.27,Heather,Chase,F,6888 Hicks Stream Suite 954,...,40.3359,-79.6607,1472,Public affairs consultant,1941-03-07,fc28024ce480f8ef21a32d64c93a29f5,1325376318,40.351813,-79.958146,0
9,9,2019-01-01 00:06:01,2720830304681674,"fraud_Schoen, Kuphal and Nitzsche",grocery_pos,198.39,Melissa,Aguilar,F,21326 Taylor Squares Suite 708,...,36.5220,-87.3490,151785,Pathologist,1974-03-28,3b9014ea8fb80bd65de0b1463b00b00e,1325376361,37.179198,-87.485381,0

In [13]:
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])

In [14]:
from datetime import datetime as dt

In [15]:
# the merchant column
df['merchant'].value_counts()

fraud_Kilback LLC                        6262
fraud_Cormier LLC                        5246
fraud_Schumm PLC                         5195
fraud_Kuhn LLC                           5031
fraud_Boyer PLC                          4999
                                         ...
fraud_Douglas, DuBuque and McKenzie      1101
fraud_Treutel-King                       1098
fraud_Satterfield-Lowe                   1095
fraud_Hahn, Douglas and Schowalter       1091
fraud_Ritchie, Bradtke and Stiedemann    1090
Name: merchant, Length: 693, dtype: int64

In [16]:
from collections import Counter
merchant_df = df.groupby('merchant')['is_fraud'].apply(list).reset_index()
merchant_counts = []
for i in range(merchant_df.shape[0]):
    merchant_counts.append(Counter(merchant_df['is_fraud'][i]))

In [17]:
new_merchant_df = pd.DataFrame(merchant_counts)
merchant_df = pd.concat([merchant_df,new_merchant_df],axis=1)
merchant_df.drop('is_fraud',inplace=True,axis=1)
merchant_df['ratio'] = ((merchant_df[0] /(merchant_df[0] + merchant_df[1]) * 100))

In [18]:
merchant_df.sort_values(by='ratio',ascending=True)

                                  merchant     0     1      ratio
337                      fraud_Kozey-Boehm  2698  60.0  97.824511
245      fraud_Herman, Treutel and Dickens  1832  38.0  97.967914
616                       fraud_Terry-Huel  2808  56.0  98.044693
304                  fraud_Kerluke-Abshire  2585  50.0  98.102467
443    fraud_Mosciski, Ziemann and Farrell  2768  53.0  98.121234
..                                     ...   ...   ...        ...
478                      fraud_Paucek-Wiza  1307   NaN        NaN
505                fraud_Reichert-Weissnat  1123   NaN        NaN
516  fraud_Ritchie, Bradtke and Stiedemann  1090   NaN        NaN
566                  fraud_Schroeder Group  2420   NaN        NaN
664                     fraud_Wiegand-Lowe  1289   NaN        NaN

[693 rows x 4 columns]

In [19]:
category_df = df.groupby('category')['is_fraud'].apply(list).reset_index()

In [20]:
new_cat_counts = []
for i in range(len(category_df['is_fraud'])):
    new_cat_counts.append(Counter(category_df['is_fraud'][i]))

In [21]:
category_new_df = pd.DataFrame(new_cat_counts)

In [22]:
category_df = pd.concat([category_df,category_new_df],axis=1)

In [23]:
category_df.drop('is_fraud',inplace=True,axis=1)

In [24]:
category_df['ratio'] = ((category_df[0] /(category_df[0] + category_df[1]) * 100))
category_df.sort_values(by='ratio',ascending=False)

          category       0     1      ratio
5   health_fitness  122368   185  99.849045
6             home  175195   265  99.848968
1      food_dining  130524   205  99.843187
7        kids_pets  161423   304  99.812029
0    entertainment  133826   292  99.782281
10   personal_care  129795   290  99.777069
13          travel   57800   156  99.730830
3      grocery_net   64703   175  99.730263
9         misc_pos  113907   322  99.718110
2    gas_transport  187257   772  99.589425
12    shopping_pos  165407  1056  99.365625
4      grocery_pos  173963  2228  98.735463
8         misc_net   89472  1182  98.696141
11    shopping_net  137103  2219  98.407287

In [25]:
gender_df = df.groupby('gender')['is_fraud'].apply(list).reset_index()

In [26]:
gender_counts = []
for i in range(gender_df.shape[0]):
    gender_counts.append(Counter(gender_df['is_fraud'][i]))
new_gender_df = pd.DataFrame(gender_counts)
gender_df = pd.concat([gender_df,new_gender_df],axis=1)
gender_df.drop(['is_fraud'],axis=1,inplace=True)
gender_df['ratio'] = ((gender_df[0] /(gender_df[0] + gender_df[1]) * 100))
gender_df.sort_values(by='ratio',ascending=True)

  gender        0     1      ratio
1      M   832893  4752  99.432695
0      F  1009850  4899  99.517221

In [27]:
job_df = df.groupby('job')['is_fraud'].apply(list).reset_index()
job_counts = []
for i in range(job_df.shape[0]):
    job_counts.append(Counter(job_df['is_fraud'][i]))
new_job_df = pd.DataFrame(job_counts)
job_df = pd.concat([job_df,new_job_df],axis=1)
job_df.drop(['is_fraud'],axis=1,inplace=True)
job_df['ratio'] = ((job_df[0] /(job_df[0] + job_df[1]) * 100))
job_df.sort_values(by='ratio',ascending=True)
job_df.fillna(0,inplace=True)
job_df['ratio'] = ((job_df[0] /(job_df[0] + job_df[1]) * 100))
job_df.sort_values(by='ratio',ascending=True)

                                   job    0     1  ratio
175                    Engineer, water  0.0   8.0    0.0
202            Forest/woodland manager  0.0   9.0    0.0
427                  Software engineer  0.0  11.0    0.0
423                        Ship broker  0.0   7.0    0.0
35      Armed forces technical officer  0.0   8.0    0.0
117                             Dancer  0.0  19.0    0.0
228                          Homeopath  0.0  11.0    0.0
20              Air traffic controller  0.0  17.0    0.0
407  Sales promotion account executive  0.0  14.0    0.0
106         Contracting civil engineer  0.0   7.0    0.0

In [28]:
state_df = df.groupby('state')['is_fraud'].apply(list).reset_index()
state_counts = []
for i in range(state_df.shape[0]):
    state_counts.append(Counter(state_df['is_fraud'][i]))
new_state_df = pd.DataFrame(state_counts)
state_df = pd.concat([state_df,new_state_df],axis=1)
state_df.drop(['is_fraud'],axis=1,inplace=True)
state_df['ratio'] = ((job_df[0] /(state_df[0] + state_df[1]) * 100))
state_df.sort_values(by='ratio',ascending=True)
state_df.fillna(0,inplace=True)
state_df['ratio'] = ((state_df[0] /(state_df[0] + state_df[1]) * 100))
state_df.sort_values(by='ratio',ascending=True).head(10)

   state         0    1      ratio
8     DE       0.0    9   0.000000
39    RI     730.0   15  97.986577
0     AK    2913.0   50  98.312521
37    OR   26211.0  197  99.254014
30    NH   11648.0   79  99.326341
45    VA   41483.0  273  99.346202
42    TN   24754.0  159  99.361779
29    NE   34209.0  216  99.372549
23    MN   45153.0  280  99.383708
34    NY  118689.0  730  99.388707
7     DC    5099.0   31  99.395712
16    KS   32746.0  193  99.414068
33    NV    8011.0   47  99.416729
5     CO   19651.0  115  99.418193
21    ME   23299.0  134  99.428157
40    SC   41495.0  236  99.434473
25    MS   29852.0  169  99.437061
9     FL   60441.0  334  99.450432
15    IN   39322.0  217  99.451175
10    GA   37136.0  204  99.453669
48    WI   41510.0  228  99.453735
12    IA   38593.0  211  99.456242
20    MD   37142.0  203  99.456420
17    KY   40759.0  222  99.458286
35    OH   66267.0  360  99.459679
36    OK   37850.0  200  99.474376
41    SD   17482.0   92  99.476499
14    IL   61888.0  324  99.479200
32    NM   23306.0  121  99.483502
6     CT   10923.0   56  99.489935
38    PA  113601.0  572  99.499006
4     CA   80093.0  402  99.500590
19    MA   17475.0   87  99.504612
24    MO   54642.0  262  99.522803
1     AL   58243.0  278  99.524957
47    WA   26914.0  126  99.534024
31    NJ   34970.0  161  99.541715
22    MI   65526.0  299  99.545765
27    NC   42939.0  195  99.547920
11    HI    3633.0   16  99.561524
43    TX  134677.0  592  99.562354
2     AR   44416.0  195  99.562888
50    WY   27657.0  119  99.571573
46    VT   16740.0   72  99.571734
3     AZ   15298.0   64  99.583388
13    ID    8002.0   33  99.589297
26    MT   16737.0   69  99.589432
49    WV   36383.0  146  99.600318
44    UT   15296.0   61  99.602787
28    ND   21099.0   84  99.603456
18    LA   29840.0  113  99.622742

In [29]:
df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [41]:
df = df.drop(['Unnamed: 0','cc_num','first','last','street','city','city_pop','merch_lat','merch_long','trans_num'],axis=1)

In [45]:
df['dob'] = pd.to_datetime(df['dob'])

In [50]:
current_date = dt.today()

In [51]:
df['age'] = (current_date - df['dob']).astype('<m8[Y]')

In [53]:
df = df.drop(['dob'],axis=1)

In [56]:
df.head(5)

,trans_date_trans_time,merchant,category,amt,gender,state,zip,lat,long,job,unix_time,is_fraud,age
0,2019-01-01 00:00:18,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,NC,28654,36.0788,-81.1781,"Psychologist, counselling",1325376018,0,35.0
1,2019-01-01 00:00:44,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,WA,99160,48.8878,-118.2105,Special educational needs teacher,1325376044,0,44.0
2,2019-01-01 00:00:51,fraud_Lind-Buckridge,entertainment,220.11,M,ID,83252,42.1808,-112.2620,Nature conservation officer,1325376051,0,61.0
3,2019-01-01 00:01:16,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,MT,59632,46.2306,-112.1138,Patent attorney,1325376076,0,56.0
4,2019-01-01 00:03:06,fraud_Keeling-Crist,misc_pos,41.96,M,VA,24433,38.4207,-79.4629,Dance movement psychotherapist,1325376186,0,37.0

In [55]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [59]:
trf1 = ColumnTransformer([
    ('gender_encoded',OneHotEncoder(),[4])
])
trf2 = ColumnTransformer([
    ('label_encoded',LabelEncoder(),[1,2,5,9])
])
trf3 = RandomForestClassifier()

In [58]:
pipe = Pipeline([
    ('trf1',trf1),
    ('trf2',trf2),
    ('trf3',trf3)
])

In [60]:
X = df.drop(['is_fraud'],axis=1)
y = df['is_fraud']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=39)

In [61]:
pipe.fit(X_train,y_train)

ValueError: all features must be in [0, 1] or [-2, 0]